EMIDIT_node_red.json
[{"id":"42967c34.5ed524","type":"tab","label":"monitor","disabled":false,"info":""},{"id":"2309c70c.838b18","type":"mqtt-broker","z":"","name":"hivemq","broker":" tcp://broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e00a73e8.7deb3","type":"ui_tab","z":"","d":true,"name":"tab_B","icon":"dashboard","disabled":false,"hidden":false},{"id":"1adcf5ba.9b3d3a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#09774d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#09774d","edited":true},"page-titlebar-backgroundColor":{"value":"#09774d","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0ebe7b","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#09774d","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"60c44fed.b7721","type":"ui_group","z":"","name":"Corrente","tab":"f9f0ca.46546f38","order":1,"disp":true,"width":22,"collapse":false},{"id":"ca4121b1.6ba95","type":"serial-port","z":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f9f0ca.46546f38","type":"ui_tab","z":"","name":"EMIDIT","icon":"dashboard","disabled":false,"hidden":false},{"id":"fd672bb7.3e7be8","type":"ui_spacer","name":"spacer","group":"60c44fed.b7721","order":4,"width":2,"height":1},{"id":"f1a8162f.32a228","type":"ui_spacer","name":"spacer","group":"60c44fed.b7721","order":6,"width":2,"height":1},{"id":"a4921d51.15bb","type":"ui_spacer","name":"spacer","group":"60c44fed.b7721","order":8,"width":1,"height":1},{"id":"c9e9d339.ddfc1","type":"ui_spacer","name":"spacer","group":"60c44fed.b7721","order":10,"width":2,"height":1},{"id":"ce766f46.4cb8d","type":"ui_spacer","name":"spacer","group":"60c44fed.b7721","order":11,"width":2,"height":1},{"id":"e495f7c6.2ffa88","type":"ui_spacer","name":"spacer","group":"60c44fed.b7721","order":12,"width":1,"height":1},{"id":"5dc55eee.efe0e","type":"ui_spacer","name":"spacer","group":"60c44fed.b7721","order":13,"width":2,"height":1},{"id":"c7ede0fd.b23cf","type":"ui_spacer","name":"spacer","group":"60c44fed.b7721","order":15,"width":7,"height":1},{"id":"ca907b0b.1c5318","type":"mqtt in","z":"42967c34.5ed524","d":true,"name":"from_MQTTbroker","topic":"matias","qos":"2","datatype":"auto","broker":"2309c70c.838b18","x":110,"y":200,"wires":[["45ecbabd.f25d64","8c8da669.43e858","2ace2c19.334464"]]},{"id":"67ee5a9e.e3f264","type":"ui_gauge","z":"42967c34.5ed524","name":"Corrente - nivel","group":"60c44fed.b7721","order":9,"width":6,"height":3,"gtype":"wave","title":"Corrente","label":"A","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":300,"wires":[]},{"id":"45ecbabd.f25d64","type":"delay","z":"42967c34.5ed524","name":"","pauseType":"rate","timeout":"100","timeoutUnits":"milliseconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":280,"wires":[["45eea986.c6db78","fdf860b3.c9569"]]},{"id":"45eea986.c6db78","type":"function","z":"42967c34.5ed524","name":"Parse elements","func":"var output   = msg.payload.split(\" \");\nvar corrente = parseFloat(output[0]);\nvar vibracao = parseFloat(output[1]);\n\nvar msg1 = {payload:corrente};\nvar msg2 = {payload:vibracao};\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["f8a6b3ec.9be96","67ee5a9e.e3f264","1ddf4029.d62b1"],["cf625f59.8a44a","d623b31.cc3375","850bff5e.7f7a2"]]},{"id":"f8a6b3ec.9be96","type":"debug","z":"42967c34.5ed524","name":"corrente","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":260,"wires":[]},{"id":"cf625f59.8a44a","type":"debug","z":"42967c34.5ed524","name":"vibração","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"fdf860b3.c9569","type":"debug","z":"42967c34.5ed524","name":"from Raspi","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":180,"wires":[]},{"id":"d623b31.cc3375","type":"ui_gauge","z":"42967c34.5ed524","name":"","group":"60c44fed.b7721","order":3,"width":5,"height":3,"gtype":"gage","title":"Vibracao","label":" amp","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"100","x":700,"y":460,"wires":[]},{"id":"1ddf4029.d62b1","type":"ui_chart","z":"42967c34.5ed524","name":"","group":"60c44fed.b7721","order":2,"width":11,"height":6,"label":"grafico - Corrente","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":340,"wires":[[]]},{"id":"850bff5e.7f7a2","type":"ui_chart","z":"42967c34.5ed524","name":"","group":"60c44fed.b7721","order":1,"width":11,"height":6,"label":"grafico - Vibracao","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":500,"wires":[[]]},{"id":"95988c12.8bcf8","type":"function","z":"42967c34.5ed524","d":true,"name":"FFT","func":"var i;\nvar input;\nvar x     =[]; \nvar fft   =[]; \nvar w     =[];\n\nfor (i = 0; i < 2000; i++) {\n  w[i] = 2*Math.i* i ;\n}\nfor (i = 0; i < 512; i++) {\n  input= msg.payload.nunber;    \n  x[i] = input ;\n}\nfor (i = 0; i < 512; i++) {\n  fft[i] += 1 * Math.exp(-Math.i *w*i);\n}\nvar xfft = {payload:fft};\n\nreturn xfft;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":900,"wires":[["ba1e7842.b1f168"]]},{"id":"ba1e7842.b1f168","type":"debug","z":"42967c34.5ed524","name":"python.exe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":840,"wires":[]},{"id":"9a8905f5.a85a58","type":"serial in","z":"42967c34.5ed524","name":"Arduino","serial":"ca4121b1.6ba95","x":70,"y":280,"wires":[["45ecbabd.f25d64","8c8da669.43e858","4c0af1d2.4a971"]]},{"id":"7f7f3345.e3fc5c","type":"exec","z":"42967c34.5ed524","command":"python C:\\Users\\Matias\\Desktop\\eletrica\\Projeto_de_formatura\\sensores\\sensores\\fft_plot.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":740,"wires":[["ba1e7842.b1f168"],[],[]]},{"id":"308f265e.ac787a","type":"ui_button","z":"42967c34.5ed524","name":"","group":"60c44fed.b7721","order":7,"width":4,"height":2,"passthru":true,"label":"FFT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"save","x":70,"y":740,"wires":[["7f7f3345.e3fc5c"]]},{"id":"ee56921f.d69e8","type":"debug","z":"42967c34.5ed524","name":"file - write  ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":460,"wires":[]},{"id":"526f3461.f5418c","type":"file","z":"42967c34.5ed524","name":"","filename":"C:\\Users\\Matias\\Desktop\\eletrica\\Projeto_de_formatura\\sensores\\sensores\\monitor.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":940,"y":620,"wires":[["ee56921f.d69e8"]]},{"id":"8c8da669.43e858","type":"function","z":"42967c34.5ed524","name":"Save_data","func":"\nif (msg.topic === \"save\"){\n        msg.payload = context.last;\n        return msg;\n}\nelse{\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":620,"wires":[["526f3461.f5418c"]]},{"id":"ceb6b168.df952","type":"file","z":"42967c34.5ed524","name":"delete file","filename":"C:\\Users\\Matias\\Desktop\\eletrica\\Projeto_de_formatura\\sensores\\sensores\\monitor.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":260,"y":520,"wires":[["12a4c746.ff0a29","9ccff5db.ca0798"]]},{"id":"b452dcbe.d75b9","type":"ui_switch","z":"42967c34.5ed524","name":"","label":"save data","tooltip":"","group":"60c44fed.b7721","order":5,"width":2,"height":2,"passthru":true,"decouple":"false","topic":"save","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":620,"wires":[["6d5a9ea.4ff396","52e325bc.32e4ac"]]},{"id":"6d5a9ea.4ff396","type":"trigger","z":"42967c34.5ed524","name":"","op1":"\"save\"","op2":"0","op1type":"str","op2type":"str","duration":"-0.7","extend":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":620,"wires":[["8c8da669.43e858"]]},{"id":"12a4c746.ff0a29","type":"debug","z":"42967c34.5ed524","name":"file - delete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":440,"wires":[]},{"id":"2ace2c19.334464","type":"debug","z":"42967c34.5ed524","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":140,"wires":[]},{"id":"52e325bc.32e4ac","type":"trigger","z":"42967c34.5ed524","d":true,"name":"","op1":"\"save\"","op2":"0","op1type":"str","op2type":"str","duration":"-7","extend":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":680,"wires":[["8c8da669.43e858"]]},{"id":"4c0af1d2.4a971","type":"mqtt out","z":"42967c34.5ed524","name":"to_MQTTbroker","topic":"correnteEMIDIT","qos":"2","retain":"","broker":"2309c70c.838b18","x":330,"y":80,"wires":[]},{"id":"e5a13d0b.326bc","type":"debug","z":"42967c34.5ed524","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":540,"wires":[]},{"id":"9ccff5db.ca0798","type":"trigger","z":"42967c34.5ed524","d":true,"name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":540,"wires":[["526f3461.f5418c","e5a13d0b.326bc"]]},{"id":"1482a091.f44a0f","type":"ui_switch","z":"42967c34.5ed524","name":"","label":"delete data","tooltip":"","group":"60c44fed.b7721","order":14,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":520,"wires":[["ceb6b168.df952"]]}]